
.bg-style {
    background: #9907a3;
}

ion-content {
    background-image: url('assets/imgs/hello.png');
}

ion-page.PremierLeagueWelcomePage{
    background-image: url('../../img/hollo.png');
}

ion-page.PremierLeagueWelcomePage > ion-content{
  background-color: transparent;
}